# Node / Build
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
# Lockfile COMMITTEN (empfohlen):
# !package-lock.json

# CSS Build-Output & Sourcemaps
assets/css/
assets/css/*.map

# Design / Binärdaten (nicht ins Code-Repo)
*.psd
*.ai
*.sketch
*.xd

# Lokale Tools / Temp
bfg.jar

# OS / Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.idea/

# Env / Secrets
.env
*.env
config/*local*.php

# SFTP/Deploy-Konfigs (egal wo)
**/sftp.json