* text=auto
*.sh  text eol=lf
*.bash text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.svg  text
*.woff  binary
*.woff2 binary
*.ttf  binary
*.eot  binary
*.pdf  binary
*.psd  binary
*.ai   binary
package-lock.json text
