.canvas-box {
    max-width: 900px;
    width: 100%;
    border: 1px solid rgba(155, 155, 155, 1);
    border-radius: 12px;
    background: #32363a;
    overflow: hidden;
}
#canvas {
    display: block;
    width: 100%;
    height: auto; /* skaliert proportional zur festen internen Auflösung */
    touch-action: none;
    cursor: crosshair;
}
.canvas-actions {
    margin-top: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}
input {
    border: 1px solid var(--btn-secondary-border-color) !important;
    color: var(--bs-btn-color);
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
}
input:focus {
    box-shadow: 0 0 0 0.25rem var(--btn-secondary-box-shadow-color) !important;
    border-color: var(--btn-secondary-border-focus-color) !important;
    outline: 0 !important;
}
